{% load widget_tweaks %}

<form method="post"
      action="{% url 'project_create' %}"
      class="js-project-create-form">
  {% csrf_token %}
  <div class="modal-header" 
       style="background: #3f51b5;">
    <button type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add a new project</h4>
  </div>
  <div class="modal-body">
    {% include 'projects/includes/partial_project_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" 
            class="btn btn-default"
            data-dismiss="modal">Close</button>
    <button type="submit"
            class="btn btn-primary">Create project</button>
  </div>
</form>