<div id="clientModal"
     aria-hidden="true"
     aria-labelledby="clientModalLabel"
     role="dialog"
     tabindex="-1"
     class="modal fade">
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header" style="background: #3f51b5">
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true">
                &times;
          </button>
          <h4 class="modal-title">Add new client</h4>
        </div>
        <div class="modal-body">
          <p>Please enter the details of the new client below:</p>
          <input id="client_name"
                 type="text"
                 placeholder="Client name"
                 autocomplete="off"
                 class="form-control placeholder-no-fix">
          <br>
          <input id="contact_person"
                 type="text"
                 placeholder="Contact Person"
                 autocomplete="off"
                 class="form-control placeholder-no-fix">
          <br>
          <input id="contact_number"
                 type="text"
                 placeholder="Contact Number"
                 autocomplete="off"
                 class="form-control placeholder-no-fix">
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"
                    class="btn btn-default"
                    type="button">
                  Cancel
            </button>
            <button id="btn-add-client"
                    data-dismiss="modal"
                    class="btn btn-theme"
                    type="button">
                  Submit
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
