<div id="editProjectModal"
     aria-hidden="true"
     aria-labelledby="editProjectModalLabel"
     role="dialog"
     tabindex="-1"
     class="modal fade">
  <div class="modal-dialog">
  <form>
    <div class="modal-content">
      <div class="modal-header"
           style="background: #3f51b5">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true">
                &times;
        </button>
        <h4 class="modal-title">Edit project</h4>
      </div>
      <div class="modal-body">
        <input id="edit-project-name"
               type="text"
               class="form-control"
               value="{{ project.name }}">
        <br>
        <div class="form-group">
        <label for="sel1">Select project status:</label>
         <select class="form-control" id="project_status">
           <option>Active</option>
           <option>Inactive</option>
           <option>Complete</option>
         </select>
        </div>
        <br>
        <div class="form-group">
        <label for="sel">Assign to:</label>
         <select class="form-control" id="client">
           {% for client in clients %}
             <option value="{{ client.id }}">{{ client.name }}</option>
           {% endfor %}
         </select>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal"
                class="btn btn-default"
                type="button">
              Cancel
        </button>
        <button id="btn-edit-project"
                data-dismiss="modal"
                class="btn btn-theme"
                type="button">
              Submit
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
